h1 {
    text-align: center;
    color: darkred;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: darkred;
}


.inline-label {
    display: inline-block;
    margin-right: 10px;
}

.form-container {
    border: 2px solid #000000;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
    background-color: rgb(196, 116, 116);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;  
    border: 1px solid #000000;
    box-sizing: border-box;
}

input[type="radio"] {
    margin: 1.2%;
}

input[type="checkbox"] {
    margin: 1.2%;
}

textarea{
    width: 100%;
    padding: 12px;
    margin: 8px 0;  
    border: 1px solid #000000;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px;
    margin: 5px;  
    border: 1px solid #000000;
    box-sizing: border-box;
}