body{
    margin: 1%;
}
.container{
    font-size: small;
}
nav{
    background-color: lightblue;
    padding: 2%;
    text-align: center;
}
nav a{
    margin: 10%;
    font-size: large;
}
nav :hover{
    background-color: blue;
}